<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=" text-transform: capitalize;">
    <header style=" top: 0;left: 0;right: 0;background: darck;padding: 1rem 7%; display: flex;align-items: center;justify-content: space-between;z-index: 1000;box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1); height: 50px;">
        <nav class="navbar" >
            <a href="#" class="active" style="text-decoration: none;margin-right: 80px; margin-left: -50px; font-size: 50px;color:#27ae60; font-style: oblique; font-weight:500px;">Express</a>
            <a href="#home" class="active" style="text-decoration: none; margin-right: 5px; color: #192a56; font-size: 20px; margin-top: 1rem; padding: .4rem 1rem;">Home page</a>
            <a href="#service" style="text-decoration: none;margin-right: 5px;  color:  #192a56;font-size: 20px;  padding: .4rem 1rem;">Our Service</a>
            <a href="#contact "style="text-decoration: none;  color:#192a56; font-size: 20px; padding: .4rem 1rem; ">Contact us</a>
          </nav>
</header>
<section class="home" id="home" style="padding: 0rem 9%;">
    <div class="swiper  home-slider">
      <div class="swiper-wrapper wrapper">
        <div class="swiper-slide slide"  style="display: flex; align-items: center;gap: 2rem;padding-top: 7rem;">
          <div class="content" style="flex: 1 1 45rem;">
            <span style="color:#27ae60; font-size: 25px;">our special dish</span>
            <h3 style="font-size: 50px; color: #192a56; margin-top: 0%;"> Mango Meringue Pie</h3>
            <p style="font-size: 22px;">Lorem ipsum dolor sit amet Qui repellendus cupiditate quas assumenda harum. Voluptates, quibusdam adipisci.  eaque error praesentium?.</p>
            <a href="#" class="btn" style="color: #192a56;text-decoration: none;  margin-top: 1rem;
            font-size: 1rem; color: #fff;  background: #192a56; border-radius: .5rem; cursor: pointer;
    padding: .8rem 2rem;">Order Now</a>
          </div>
          <div class="image" style="flex:  1 1 45rem;">
            <img src="https://www.compagniedesdesserts.com/wp-content/uploads/2022/10/octobre-475x306.jpg" alt="" style="width:100%; padding-left: 1rem;animation: float 3s linear infinite;">
          </div>
        </div>
    </div>
</div>
</section>
</body>
</html>